body{
    background-color:rgb(223, 223, 223) ;
}
div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(229, 229, 229);
    
}
#photos{
    width: 60px;
    position: absolute;
    left: 90px;
}
#name{
    padding-right: 440px;
}

#bars{
    position: absolute;
    left: 50px;
    top: 25px;
    font-size: 150%;
}
#search{
    width: 400px;
    height: 30px;
    position: relative;
    right: 60%;
    border-radius: 4rem 0rem 0rem 4rem ;
}
.search2{
    height: 35px;
    width:60px ;
    font-size: large;
    position: relative;
    right: 60%;
    border-radius: 0rem 4rem 4rem 0rem;
}
#micro{
    position: relative;
    right: 45%;
    width: 30px;
    font-size: 150%;
    
}
.text{
    position: relative;
    right: 90px;
}
#camera{
    position: relative;
    right: 200px;
    font-size: 150%;
    
}
#video{
    position: relative;
    right: 20px;
}

#new{
    height: 90vh;
    width: 15vw;
    /* border: 2px solid black; */
    position: relative;
    top: 10%;
    display: block;

    
}
#new i {
    display: block;
    margin-top: 25px;
    margin-left: 20px;
    font-size: x-large;
}
#new a{
    /* margin-left: 15px; */
    text-decoration: none;
    font-size: large;
    color: black;
}

#row{
    height: 5vh;
    width: 80vw;
    /* border: 2px solid black; */
    position: relative;
    top: 30px;
    left: 18.7%;
    display: flex;
    justify-content: space-around;

}
#row a{
    text-decoration: none;
    color: black;
    font-size: 120%;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: rgb(203, 197, 197);

}

#media{
    position: absolute;
    bottom: 55%;
    left: 20%;
    margin-left: 20px;
}
div madia{
    display: flex;
    justify-content: space-between;
}
#frame{
    height: 87vh;
    width: 80vw;
    /* border: 2px solid black; */
    position: absolute;
    right: 0%;
    top: 20%;
}
#first{
    position: absolute;
    top: 0%;   
}
.two{
    margin-right: 5%;
}

#second{
    position: absolute;
    bottom: 12%;
}
.one{
    height: 220px;
    margin-right: 5%;
}
#titel{
    height: 7vh;
    width: 80vw;
    /* border: 2px solid black; */
    position: relative;
    bottom: 9%;
    padding-right: 2%;
}
#titel2{
    height: 7vh;
    width: 79vw;
    /* border: 2px solid black; */
    position: absolute;
    bottom: 2%;
}
